<div style="text-align:center">
  <h1>
    Angular Poker Hand Evaulator
  </h1>
 </div>
<h2>Assumptions: </h2>
<ul>
  <li>
    You are using a valid hand type, so "Ah As Ac Ad 2s" is valid but "Ad Ad Ad Ad Ad" is not.
  </li>
  <li>
    You must have 10 valid characters in the field, I strip out whitespace and ,
  </li>
</ul>
<form [formGroup]="myForm" #formDir="ngForm" id="pokerform">
  <div class="form-group">
    <label for="pokerhand">Input Poker Hand</label>&nbsp;
    <input id="pokerhand" class="form-control" required formControlName="pokerhand" required>
    <div>
       
      <div *ngIf="pokerhand.errors">
          Hand Type: {{pokerhand.errors.pokerhand.value}}
      </div>
    </div>
  </div>
</form>

